
html,body {
  height:100%;
}

body {
  font-family: fantasy;
}


header {
    text-align: center;
    background-color: lightgreen;
    width: 100%;
}

#form-outer {
  text-align: center;
}

#matches, #runs, #conceded, #wickets {
  width: 9%;
}


#form-submit {
  color: white;
  background: blue;
  border: 1px lightBlue solid;
  box-shadow: lightGrey;
}
#form-submit:hover {
  color: white;
  background: red;
  border: 1px lightBlue solid;
  box-shadow: lightGrey;
}

.list-background {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/be/Cricketfieldingpositions.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 0;
  height: 70%;
}

#list-of-things {
    display: flex;
    flex-wrap: wrap;
}


.cricketer {
    width: auto;
    margin: 0.5rem 0.5rem;
    padding: 2%;
    background-color: antiquewhite;
    border-radius: 3%;
}

#delete-all {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    margin: 4px 2px;
}

#delete-all:hover {
    background-color: red;
    border: none;
    color: white;
    font-size: 30px;
    margin: 4px 2px;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background:#6cf;
  text-align: center;
}
